@using CourseProject.GYM.Models

@model HallsAndSpecializationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        @foreach (var item in Model.Specializations)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name </h5>
                        <p class="card-text">@item.Description</p>
                        <a href="/Home/Result/@item.Id" class="btn btn-primary">Посмотреть график</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
    <p>Доступные для занятий залы:</p>
    <div class="row">
        @foreach (var item in Model.Halls)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name </h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
